@import url("normalize.css");

html, body {
  height: 100%;
  position: relative;
}

main {
  padding: 20px;
  border: 1px solid black;
  max-width: 800px;
  margin: 0 auto;

}

fieldset {
  margin: 0 auto;
  width: 400px;
  position: relative;
}


input[type="text"],
label {
  margin-bottom: 10px;
}

form#edit input[type='text'] {
  float: right;
  clear: both;
}

form#edit label {
  float: left;
}

td {
  width: 200px;
}

th,
td, tr {
  text-align: right;
}

[type="submit"] {
  background-color: red
}

:focus {
  background: red;
}

.active {
  border: 2px solid green;
}
